<h2>Library</h2>
<div>@ViewData["Message"] </div>


@* @page *@
@* @model DigitalLibrary.Views.Welcome.Index *@
@* *@
@* @{ *@
@*     Layout = null; *@
@* } *@
@* *@
@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title></title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*      *@
@* </div> *@
@* </body> *@
@* </html> *@